body {
  padding-top: 2rem;
}

.container {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#preview {
  padding-top: 2rem;
}

#docs {
  text-align : center;
  background: #CCC;
  width: 100%;
  padding-bottom: 3rem;
}

.code-snippet {
  width: 45rem;
  max-width: 100%;
  margin: 0 auto;
}
